@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: #f7f3f1;
    margin: 0; 
    display: flex;
    flex-direction: column; 
    min-height: 100vh; 
}

.welcome{
  align-items: center;
  text-align: center;
  padding: 20px;
  font-size: 1.2rem;
  color: #625969;
}

.container{
  padding: 20px;
  display: flex;
  gap: 20px;
  flex-grow: 1;
}

.colonne{
  flex-wrap: wrap;
  margin-top: 50px;
  flex: 1;
  padding: 15px;
  border-radius: 16px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  animation: flotteColonne 3s ease-in-out infinite;
  transition: transform 0.3 ease;
}

@keyframes flotteColonne{
  0%{
    transform: translateY(0px);
  }
  50%{
    transform: translateY(-8px);
  }
  100%{
    transform: translateY(0px);
  }
}

.colonne:hover{
  transform: scale(1.02);
  animation: none;
  box-shadow: 0 7px 25px rgba(0,0,0,0.1);
  cursor: pointer;
}

.container{
  font-size: 105%;
  color: #2E2E2E;
}

.container h2{
    color: #625969;
}

.container a{
    color: #2E2E2E;
    text-decoration: none;
}

.container a:hover{
    text-decoration: underline;
}

footer {
  color: #625969;
  background-color: #d0c8db;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 20px 0;
  margin-top: 300px;
  flex-shrink: 0;
}

footer h2{
  font-weight: 500;
}

.footer-brand {
    justify-content: center;
    display: flex;
}

footer .links{
    justify-content: center;
    text-align: center;
}

footer a{
  color: #625969;
    text-decoration: none;
    margin-right: 1rem;
    margin-left: 1rem;
}

footer a:hover{
    text-decoration: underline;
}

footer .copyright{
    justify-content: center;
    display: flex;
}

footer .made-w{
    justify-content: center;
    text-align: center;
}

footer .logos {
    justify-content: center;
    text-align: center;
}

footer .logos img{
    max-width: 1.5rem;
    margin-right: 1.5rem;
}

footer .logos img:hover{
  cursor: pointer;
}

.emoji {
  display: inline-block;
  animation: flotter 2s ease-in-out infinite;
}

@keyframes flotter {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
}

@media (max-width: 768px){
  .container{
    flex-direction: column;
    gap: 10px;
  }

  .colonne{
    width: 80%;
    margin-top: 10px;
  }

  body{
    font-size: 14px;
  }

  .colonne h2{
    font-size: 1.2rem;
  }

  footer{
    margin-top: 100px;
  }

  .footer h2{
    font-size: 1.5rem;
  }

  .welcome{
    font-size: 0.9rem;
  }
}
