@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3EDDF;
    color: #69754b;
}

.container h2{
    color: #4A4B2F;
}

.container a{
    color: #97715a;
    text-decoration: none;
}

.container a:hover{
    text-decoration: underline;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: #D4D1C3;
}

nav .links{
    display: flex;
    gap: 3rem;
}

nav a{
    align-items: center;
    color: #97715a;
    text-decoration: none;   
}

nav a:hover{
    text-decoration: underline;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%; 
    max-width: 800px; 
    margin: 0 auto; 
    padding: 20px; 
}

footer {
    background-color: #D4D1C3;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
}


.footer-brand {
    color: #4A4B2F;
    justify-content: center;
    display: flex;
}

footer .links{
    color: #69754b;
    justify-content: center;
    text-align: center;
}

footer a{
    color: #97715a;
    text-decoration: none;
    margin-right: 1rem;
    margin-left: 1rem;
}

footer a:hover{
    text-decoration: underline;
}

footer .copyright{
    color: #69754b;
    justify-content: center;
    display: flex;
}

footer .made-w{
    color: #69754b;
    justify-content: center;
    text-align: center;
}

footer .logos {
    justify-content: center;
    text-align: center;
}

footer .logos img{
    max-width: 1.5rem;
    margin-right: 1.5rem;
}
